<h2 class="title">Articulo</h2>
<p class="campos">
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p class="campos">
  <strong>Text:</strong>
  <%= @article.body %>
</p>

<%= link_to 'Back', articles_path %>